<div class="form-field">
    <div class="form-label">
        <label for="display">Display</label>
    </div>
    <div class="checkbox-wrapper">
        <input id="display"
               type="checkbox"
               [(ngModel)]="header.display"
               [checked]="header.display">

        <label for="display"></label>
    </div>
</div>

<div class="form-field clearfix" *ngIf="header.display">
    <div class="left">
        <div class="form-label">
            <label>Background</label>
        </div>
        <dip-colorpicker [color]="header.background"
                         (colorChanged)="header.background=$event">
        </dip-colorpicker>
    </div>
    <div class="input-field left left20">
        <input [(ngModel)]="header.height"
               [class.active]="header.height"
               style="width: 100px;">
        <label>Height</label>
    </div>
    <div class="input-field left left20">
        <input [(ngModel)]="header.padding_top"
               [class.active]="header.padding_top"
               style="width: 100px;">
        <label>Padding top</label>
    </div>
</div>