<!doctype html>
<html lang="en">
    <head>
        <title>Diploma</title>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        dela
    </body>
</html>