.header-wrapper{
    min-height: 100px;
    height: 100px;
}
.header-title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.background-image{
    width: auto;
    height: 100%;
}