.relative{
    position: relative !important;
}
.absolute{
    position: absolute !important;
}
.left{
    float: left !important;
}
.right{
    float: right !important;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.top0{
    margin-top: 0 !important;
}
.top10{
    margin-top: 10px !important;
}
.top20{
    margin-top: 20px !important;
}
.bottom10{
    margin-top: 10px !important;
}
.bottom20{
    margin-top: 20px !important;
}
.left0{
    margin-left: 0 !important;
}
.left20{
    margin-left: 20px !important;
}
.right10{
    margin-right: 10px !important;
}
.form-field{
    margin-bottom: 15px;
}
.form-label{
    margin-bottom: 5px;
    color: #656565;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
}
.align-center{
    text-align: center;
}
.align_right{
    text-align: right;
}
.break-word{
    word-wrap: break-word;
}
.flex{
    display: flex !important;
}
.reverse-row{
     flex-direction: row-reverse !important;
}