/*scss for editor (not for the whole page)*/
#editor-app-buttons{
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}


#editor-app {
  border: 1px solid black;

  .element-hidden{
    background: gray;
    padding: 20px;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
  }
    .datagrid{
        padding: 0;
        list-style: none;

        .dg-row{
            background: #f3f3f3;
            border-bottom: 2px solid #f1e4e4;
            margin-bottom: 10px;
        }
        .dg-row-item{
            padding: 10px;
        }
        .dg-row-alternative{
            padding: 20px 10px;
        }

        .material-icons{
            font-size: 25px;
        }
    }

    .draggable-directive{
        z-index: 100;
        width: 70%;
        margin: 0 auto;
        position: relative;
    }
    .draggable-directive .card{
        width: 100%;
    }
    /* Applies a grabbing hand on top of the div that's draggable*/
    .cursor-draggable {
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }
    /*  Apply a "closed-hand" cursor during drag operation. */
    .cursor-draggable:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
