@import 'cssreset';
@import 'mixins';
@import 'variables';
@import 'common';
@import 'components/form';
@import "components/nav";
@import "components/card";
@import 'components/collection';
@import 'editor';

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: $background;
    margin: 0 auto;
}
a {
    color: #00b7ff;
    cursor: pointer;
    text-decoration: none;
}

a.delete:hover{
  color: #ff0000;
}
h1{
    margin: 0 0 10px 0;
}
.main-wrapper{
    max-width: 1360px;
    margin: 0 auto;
    padding: 76px 20px 20px;
    box-sizing: border-box;
}

#error-panel .card-panel{
    padding: 10px;
}

.element{
    overflow: hidden;
    position: relative;
}

.material-icons{
    font-size: 32px;
    width: 50px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}
.material-icons.selected{
    background: #c5c5c5;
}



