<div class="element" (mouseover)="tmpFooter.showOverlay=true" (mouseleave)="tmpFooter.showOverlay=false">
    <dip-editor-overlay [element]="tmpFooter" *ngIf="!tmpFooter.showControl"></dip-editor-overlay>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>

                    <ul class="footer-menu">
                        <li class="footer-menu-item" *ngFor="let link of footer.links">

                            <a [attr.href]="link.action">{{link.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
            </div>
        </div>
    </footer>
</div>
<dip-footer-control *ngIf="tmpFooter.showControl" [footer]="footer" [tmpFooter]="tmpFooter"></dip-footer-control>