<div class="card centered" style="background: #ffffff;">
    <dip-control-header [control]="tmpNav"></dip-control-header>

    <div *ngIf="tmpNav.selection == controlViews.Edit">
        <button class="button small" (click)="addItem()">Add item</button>

        <!-- links -->
        <ul class="datagrid">
            <li class="dg-row" *ngFor="let item of nav.menu; let i = index;">
                <div class="dg-row-item clearfix">
                    <div class="left ellipsis" style="max-width: 150px; width: 150px; text-overflow: ellipsis;">
                        {{item.name}}
                    </div>
                    <div class="left left20 ellipsis" style="max-width: 300px; width: 300px; text-overflow: ellipsis;">
                        {{item.action}}
                    </div>
                    <button class="right left20" (click)="deleteItem(item)">Delete</button>
                    <button class="right left20" (click)="edit[i]=true">Edit</button>
                </div>
                <div class="dg-row-alternative" *ngIf="edit[i]==true">
                    <div class="input-field">
                        <input [(ngModel)]="item.name"
                               [class.active]="item.name">
                        <label>Title</label>
                    </div>
                    <div class="input-field">
                        <input [(ngModel)]="item.action"
                               [class.active]="item.action">
                        <label>URL (with http://)</label>
                    </div>

                    <button (click)="edit[i]=false">Close</button>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="tmpNav.selection == controlViews.Style">
        <dip-nav-style [nav]="nav"></dip-nav-style>
    </div>

    <button class="button" (click)="tmpNav.showControl=false">Close</button>
</div>