<div class="form-field">
    <div class="form-label" *ngIf="label">
        <label>{{label}}</label>
    </div>
    <div class="combobox">
        <div class="cb-trigger" (click)="onOpen()" [class.empty]="!displayed_item.value" [ngStyle]="cbStyle">
            {{displayed_item.text}}
            <span class="down-arrow"></span>
        </div>
        <ul class="cb-items" *ngIf="open">
            <li class="cb-item"
                [class.selected]="displayed_item.value==item.value"
                (click)="selectItem(item.value)"
                *ngFor="let item of items">

                {{item.text}}
            </li>
        </ul>
    </div>
</div>
