<div class="form-field clearfix">
    <div class="clearfix">
        <div class="left">
            <div class="form-label">
                <label for="positionAbsolute">Top</label>
            </div>
            <div class="checkbox-wrapper">
                <input id="positionAbsolute"
                       type="checkbox"
                       [(ngModel)]="nav.absolute"
                       [checked]="nav.absolute">

                <label for="positionAbsolute"></label>
            </div>
        </div>

        <div class="left left20">
            <div class="form-label">
                <label for="BackgroundColor">Background</label>
            </div>
            <input id="BackgroundColor"
                   class="colorpicker"
                   [(colorPicker)]="nav.background"
                   [style.background]="nav.background"
                   [cpPosition]="'bottom'"
                   [cpCancelButton]="true"
                   [cpCancelButtonClass]= "'colorpicker-button button'"/>
        </div>

        <div class="left left20">
            <div class="form-label">
                <label for="TabColor">Tab</label>
            </div>
            <input id="TabColor"
                   class="colorpicker"
                   [(colorPicker)]="nav.tab_color"
                   [style.background]="nav.tab_color"
                   [cpPosition]="'bottom'"
                   [cpCancelButton]="true"
                   [cpCancelButtonClass]= "'colorpicker-button button'"/>
        </div>

        <div class="left left20">
            <div class="form-label">
                <label for="FontColor">Font</label>
            </div>
            <input id="FontColor"
                   class="colorpicker"
                   [(colorPicker)]="nav.font_color"
                   [style.background]="nav.font_color"
                   [cpPosition]="'bottom'"
                   [cpOKButton]="true"
                   [cpOKButtonClass]= "'colorpicker-button button right10'"
                   [cpCancelButton]="true"
                   [cpCancelButtonClass]= "'colorpicker-button button'"/>
        </div>
    </div>
    <div class="clearfix">
        <dip-combobox [items]="font_sizes"  [selectedItem]="nav.font_size" (selected)="onFontSizeSelect($event)" [cbStyle]="{width: '200px'}"></dip-combobox>
    </div>
</div>