<div class="element" (mouseover)="tmpMain.showOverlay=true" (mouseleave)="tmpMain.showOverlay=false" [style.background]="main.background" [style.padding.px]="main.padding" style="min-height: 200px;">
    <dip-editor-overlay [element]="tmpMain" *ngIf="!tmpMain.showControl"></dip-editor-overlay>

    <div class="align-center" *ngIf="main.layout != layoutTypes.Scroll">
        <h1 [ngStyle]="{'color': main.title_color, 'font-size': main.title_size}" *ngIf="main.title">
            {{main.title}}
        </h1>
        <div class="break-word top10"
             *ngIf="main.description"
             [innerHTML]="main.description | sanitizeHtml">
        </div>
    </div>

    <dip-main-layout-grid [main]="main" *ngIf="main.layout == layoutTypes.Grid"></dip-main-layout-grid>
    <dip-main-layout-rows [main]="main" *ngIf="main.layout == layoutTypes.Rows"></dip-main-layout-rows>
    <dip-main-layout-text [main]="main" *ngIf="main.layout == layoutTypes.ContactForm"></dip-main-layout-text>
    <dip-main-layout-scroll [main]="main" *ngIf="main.layout == layoutTypes.Scroll"></dip-main-layout-scroll>
</div>

<dip-main-control [main]="main" [tmpMain]="tmpMain"></dip-main-control>