<div id="editor-app-buttons relative">

    <div class="pointer" style="width: 200px; margin: 0 auto">
        <h1 class="align-center relative" (click)="displayPages()">Page {{index + 1}} <span class="down-arrow"></span></h1>
    </div>
    <div *ngIf="showPages" class="pages-menu clearfix">

        <div class="page-wrapper relative left bottom10" *ngFor="let page of pages; let i = index">
            <div class="page" [ngClass]="{'selected': index == i}" (click)="onChangePage(i)">
                {{i + 1}}
            </div>
            <button class="material-icons delete-button" (click)="onDeletePage(i)" *ngIf="pages.length > 1" title="Delete page">delete</button>
        </div>

        <button class="button icon add left add-page" (click)="onAddPage()" title="Add page">+</button>
    </div>
</div>

<div class="flex" style="flex-direction: column; position: fixed; left: 40px; top: 40%; z-index: 500;">
    <span class="right20"></span>
    <button class="button" (click)="onSave()">Save</button>
    <a class="button" [href]="'/view/' + solution._id" target="_blank">View site</a>
    <h1 class="top20 align-center">Themes</h1>
    <button class="button"
            [ngClass]="{'top20': !isFirst, 'selected': themeId == theme.value}"
            *ngFor="let theme of themes; let isFirst = first"
            (click)="changeTheme(theme.value)">

        {{theme.name}} {{theme.value}}
    </button>
</div>