<div id="editor-app-wrapper" *ngIf="solution">
    <dip-editor-controls (saveSolution)="saveSolution()"
                         [solution]="solution"
                         (changeSelectedPage)="changeCurrentPage($event)"
                         (changePageSolution)="changeTheme($event)"
                         [page]="page"
                         [themeId]="page.theme"
                         [index]="solution.pages.indexOf(page)">
    </dip-editor-controls>

    <dip-editor-normal [solution]="solution" [page]="page" *ngIf="page.theme == solutionThemes.Normal"></dip-editor-normal>
    <dip-editor-two-columns [solution]="solution" [page]="page" *ngIf="page.theme == solutionThemes.TwoColumns"></dip-editor-two-columns>
</div>
<div *ngIf="!solution">
    Waiting for solution
</div>