<div class="clearfix">
    <div class="left" style="width: 50%;">
        <button (click)="main.layout = layoutTypes.Grid">Theme Grid</button>
    </div>
    <div class="left" style="width: 50%;">
        <button (click)="main.layout = layoutTypes.Rows">Theme Rows</button>
    </div>
    <div class="left top20" style="width: 50%;">
        <button (click)="main.layout = layoutTypes.ContactForm">Contact Form</button>
    </div>
    <div class="left top20" style="width: 50%;">
        <!--neend a reminder for that it can only be used with normal theme-->
        <button (click)="main.layout = layoutTypes.Scroll">Scroll</button>
    </div>
</div>
