<div class="form-field clearfix">
    <div class="left">
        <div class="form-label">
            <label>Background</label>
        </div>
        <dip-colorpicker [color]="main.background"
                         (colorChanged)="main.background=$event">
        </dip-colorpicker>
    </div>
    <div class="left left20">
        <div class="form-label">
            <label>Card</label>
        </div>
        <dip-colorpicker [color]="main.card_background"
                         (colorChanged)="main.card_background=$event">
        </dip-colorpicker>
    </div>
    <div class="left left20">
        <div class="form-label">
            <label>Title</label>
        </div>
        <dip-colorpicker [color]="main.title_color"
                         (colorChanged)="main.title_color=$event">
        </dip-colorpicker>
    </div>
    <div class="left left20">
        <div class="form-label">
            <label>Description</label>
        </div>
        <dip-colorpicker [color]="main.description_color"
                         (colorChanged)="main.description_color=$event">
        </dip-colorpicker>
    </div>
    <div class="left left20">
        <div class="form-label">
            <label>Label</label>
        </div>
        <dip-colorpicker [color]="main.label_color"
                         (colorChanged)="main.label_color=$event">
        </dip-colorpicker>
    </div>
</div>
<div class="form-field clearfix">
    <div class="left">
        <dip-combobox [items]="paddings" [label]="'Padding'" [selectedItem]="main.padding" (selected)="main.padding = $event" [cbStyle]="{width: '200px'}"></dip-combobox>
    </div>
    <div class="left left20">
        <dip-combobox [items]="font_sizes" [label]="'Title'" [selectedItem]="main.title_size" (selected)="main.title_size = $event" [cbStyle]="{width: '200px'}"></dip-combobox>
    </div>
    <div class="left left20" *ngIf="main.layout == layoutTypes.Rows">
        <dip-combobox [items]="paddings" [label]="'Padding items'" [selectedItem]="main.padding_items" (selected)="main.padding_items = $event" [cbStyle]="{width: '200px'}"></dip-combobox>
    </div>
</div>