<div class="card" style="width: 500px; margin: 50px auto;">
    <div class="form-field">
        <h1 class="align-center">Account instructions</h1>
        <div>
            If you don't want to create a new account you can use my test account (if using mongoLab):
            <ul>
                <li>Username: test@test.com</li>
                <li>Password: tester</li>
            </ul>
        </div>
    </div>

    <div class="form-field">
        <h1 class="align-center">Payment instructions</h1>
        <div>
            Because this app is in test mode and we don't want to charge real money from the user we provide test payment data.
            <ul>
                <li>Email: doesn't really matter, but it has to be a valid email</li>
                <li>CardNumber: 4242 4242 4242 4242</li>
                <li>Expiry date: any date in the future</li>
                <li>CVC: any 3 numbers</li>
            </ul>
        </div>
    </div>
</div>