<div class="main-layout-text">
    <div class="align-center">
        <h1 [ngStyle]="{'color': main.title_color, 'font-size': main.title_size}" *ngIf="main.title">
            {{main.title}}
        </h1>
        <div class="break-word top10"
             [innerHTML]="main.description | sanitizeHtml">
        </div>
    </div>
    <div *ngIf="main.layout == layoutTypes.ContactForm">
        <div class="form-field align-left" *ngFor="let item of main.form_items; let i = index"  style="width: 33%; padding: 20px; box-sizing: border-box; text-align: center;">

            <div class="form-label align-left" [ngStyle]="{'color': main.label_color}">
                <label>{{item.label}}</label>
            </div>

            <div *ngIf="item.form_type == form_types.Text">
                <input type="text">
            </div>
            <div *ngIf="item.form_type == form_types.Email">
                <input type="email">
            </div>
            <div *ngIf="item.form_type == form_types.Phone">
                <input type="tel">
            </div>
            <div *ngIf="item.form_type == form_types.Message">
                <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>